<h2><%= @post.title %></h2>
<h2>Likes: <%= @post.likes %></h2>

<h2>Content</h2>
<p><%= @post.content %></p>
<%= button_to 'like', like_post_path(@post) %>
<hr>
Blogger: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %> <br>
Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %>